<footer class="footer">
    <div class="footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="footer-widget-about">
                        <img src="assets/images/logo/logo-light.png" alt="logo" class="mb-30">
                        <p class="color-gray">Notre objectif est de fournir des soins de qualité de manière courtoise, respectueuse et compatissante. Nous espérons que vous nous permettrez de prendre soin de vous et de nous efforcer d'être les premiers et les meilleurs
                            choix pour vos soins de santé familiaux.
                        </p>
                        <a href="appointment.html" class="btn btn__primary btn__primary-style2 btn__link">
                            <span>Prendre un rendez-vous</span> <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-xl-2 -->
                <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
                    <div class="footer-widget-nav">
                        <h6 class="footer-widget__title">Departments</h6>
                        <nav>
                            <ul class="list-unstyled">
                                <li><a href="#">Clinique de neurologie</a></li>
                                <li><a href="#">Clinique de Cardiologie</a></li>
                                <li><a href="#">Clinique de Pathologie</a></li>
                                <li><a href="#">Laboratoire D'analyses</a></li>
                                <li><a href="#">Clinqiue Pediatrique</a></li>
                                <li><a href="#">Clinique Cardiaque</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-widget-nav">
                        <h6 class="footer-widget__title">Links</h6>
                        <nav>
                            <ul class="list-unstyled">
                                <li><a href="#">À propos</a></li>
                                <li><a href="#">Notre Clinique</a></li>
                                <li><a href="#">Médecins</a></li>
                                <li><a href="#">News & Media</a></li>
                                <li><a href="#reserver">Appointments</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footer-widget-contact">
                        <h6 class="footer-widget__title color-heading">Contacts rapides</h6>
                        <ul class="contact-list list-unstyled">
                            <li>Si vous avez des questions ou besoin d'aide, n'hésitez pas à contacter notre équipe.</li>
                            <li>
                                <a href="tel:01061245741" class="phone__number">
                                    <i class="icon-phone"></i> <span>0536629878</span>
                                </a>
                            </li>
                            <li class="color-body">Rte Immouzer 17 - FES - MAROC</li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <a href="contact-us.html" class="btn btn__primary btn__link mr-30">
                                <i class="icon-arrow-right"></i> <span>Obtenir des directions</span>
                            </a>
                            <ul class="social-icons list-unstyled mb-0">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" style="margin-left: -7px;"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" style="margin-left: -7px;"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                            <!-- /.social-icons -->
                        </div>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-lg-2 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-primary -->
    <div class="footer-secondary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="fz-14">&copy; Copyright © 2022 Clinique AL KAWTAR- Tous droits réservés</span>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <nav>
                        <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-secondary -->
</footer>
<!-- /.Footer -->
<button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
